
/* ======= GLOBAL STYLES ====== */


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


* {
    /* Allows you to add padding an borders w/o adding to width of element */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
};

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-style: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}


/* ======= SECTION STYLES ====== */

/* NAV */

nav {
    background-color: #047aed;
    color: white;
    margin-top: 0;
    height: 70px;
}

.flex_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;


}

.flex_nav h1 {
    font-size: 32px;
}


.flex_nav li {
    display: inline-block;
    color: white;
    margin-left: 1.2em;
}

.flex_nav a {
    color: white;
    font-size: 16px;
}

.flex_nav a:hover {
    border-bottom: 2px solid white;
}



