
/* ======= GLOBAL STYLES ====== */


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


/* Define a scope to use for your variables, we use root here */
:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  h1,
  h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
  }
  
  p {
    margin: 10px 0;
  }
  
  img {
    width: 100%;
  }
  
  code,
  pre {
    background: #333;
    color: #fff;
    padding: 10px;
  }
  
  .hidden {
    visibility: hidden;
    height: 0;
  }


/* ======= SECTION STYLES ====== */

/* NAV */

.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
  }
  
  .nav .flex {
      justify-content: space-between;
  }

  .navbar ul {
      display: flex;
  }

  .navbar a {
      padding: 10px;
      margin: 0 5px;
      color: #fff;
  }

  .navbar a:hover {
      border-bottom: 2px #fff solid;
  }

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}



  

/* SHOWCASE */

.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: white;
    position: relative;
   
}

.showcase .grid {
    /*giving the left side a bit more space than the right*/
    grid-template-columns: 55% 45%;
    column-gap: 30px;
     /*Gets rid of scroll bar next to the form */
     overflow: visible;
}

.showcase-text h1 {
    font-size: 40px;
    margin-top: 0;
}

.showcase-text p {
    font-size: 16px;
    margin: 20px 0;

}

.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
}

.showcase-form .form_control {
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 2px gray solid;
  width: 100%;
  padding: 3px;
}

.showcase-form input:focus {
  outline: none;
}

.showcase-form h2 {
  color: black;

}

.showcase::before,
.shwocase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: white;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);

}


/* ====== STATS =====*/

.stats {
  padding-top: 100px;
}

.stats-heading {
  text-align: center;
  margin: auto;
  padding: 0 15em;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

/* Cli */

.cli .card {
  color: black;
}



.cli .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);

}

/*Expands the cli img down a row
& over a column 
& pushes the card over to the left*/

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}


/* CLOUD */


/*Trgt the cloud section and then grid*/
.cloud .grid {
  grid-template-columns: 4fr 3fr;

}

.languages .card {
  transition: transform 0.2s ease-in;
}


/* Languages */
.languages .container .card h4 {
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

.languages .card:hover {
  transform:translateY(-15px);
}

/* Footer */


.social a {
  margin: 0 .3em;

}