/* ====  UTILITIES ==== */



.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    /*aligns items horz and vert */
    justify-content: center;
    align-items: center;
    /* puts heigth on actual grid item */
    height: 100%;

}

.grid-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.card {
  background-color: #fff;
  border-radius: 10px;
  /*adds a transparent shadow*/
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 10px;
  color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;

}

.btn-outline {
  background-color: transparent;
  border: 1px white solid;
}

.btn:hover {
  transform: scale(.98);
}
  
/* Backgrounds & colored buttons */
.bg-primary,
.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.bg-secondary,
.btn-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

.bg-dark,
.btn-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.bg-light,
.btn-light {
  background-color: var(--light-color);
  color: #333;
}

.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
  color: #fff;
}


/*Tex sizes*/

.lead {
    font-size: 20px;
}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;

}

.lg {
    font-size: 3rem;
}

.xlg {
    font-size: 4rem;
}


.text-center {
    text-align: center;

}

/* Margin */

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 3rem 0;
}

.my-5 {
    margin: 4rem 0;
}

.my1 {
    margin: 1rem;
}

.my2 {
    margin: 1.5rem;
}

.my3 {
    margin: 2rem;
}

.my4 {
    margin: 3rem;
}

.my5 {
    margin: 4rem;
}

/* PADDING */

.py-1 {
    padding: 1rem 0;
}

.py-2 {
     padding: 1.5rem 0;
}

.py-3 {
     padding: 2rem 0;
}

.py-4 {
     padding: 3rem 0;
}

.py-5 {
     padding: 4rem 0;
}

.py1 {
     padding: 1rem;
}

.py2 {
     padding: 1.5rem;
}

.py3 {
     padding: 2rem;
}

.py4 {
     padding: 3rem;
}

.py {
    padding: 4rem;
}